.container-fluid{
    background: linear-gradient(180deg, #690072 15.1%, rgba(152, 0, 19, 0.75) 97.07%);
    height: 100%;
    width: 100%;
}
header{
    height: 10%;
    width: 100%;
}
footer{
    height: 8%;
    width: 100%;
}
.homepage-a{
    color: #e3c976;
    font-size: 2.2vw;
    font-weight: 700;
    font-family: Lexend Deca, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.altri-a{
    font-size: 2vw;
    font-weight: 700;
    color: white;
    font-family: Lexend Deca, 'Source Sans Pro';
    white-space: nowrap;
    flex-shrink: 0;
}
.title-container{
    list-style-type: none;
    width: 100%;
    display: flex;
    box-sizing: border-box;
    padding: 5% 0%;
    height: 10%;
    align-items: center;
    flex-shrink: 0;
    margin-bottom: -2%;
}
.logo{
    width: 100%;
}
.link-header{
    display: flex;
    justify-content: center;
    align-items: end;
}
.link-header li{
    display: inline;
    margin: 3%;
    margin-top: -3%;
    margin-bottom: -3%;
}
.container-logo{
    height: 100%;
    width: 15%;
    margin-top: -10%;
    margin-bottom: -10%;
}
.link-container{
    height: 100%;
    width: 70%;
}
.search-login-container{
    height: 10vh;
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search-button{
    background-color: transparent;
    border: none;
    margin-right: 7%;
}
.login-button{
    background-color: transparent;
    border: none;
    margin-left: 7%;
    margin-right: 2vh;
}
.search-img{
    cursor: pointer;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    height: 7vh;
    width: 7vh;
}
.login-img{
    cursor: pointer;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    height: 10vh;
    width: 10vh;
}
.top-footer{
    background-image: url("../images/Footer.png") ;
    background-size: cover;
    background-repeat: repeat;
    display: flex;
    height: 70%;
    padding: 1% 1%;
    opacity: 0.90;
}
.top-footer h2{
    color: #E3C977;
    font-family: Josefin Sans, 'Source Sans Pro';
    font-size: 4vh;
    font-weight: bolder;
    text-align: center;
}
.top-footer p{
    color: white;
    font-size: 3vh;
}
.top-footer-info{
    width: 33.3%;
}
.top-footer-info-social{
    display: flex;
    align-items: center;
    justify-content: center;
}
.top-footer-info-social p{
    margin: 0.7vh;
    color: white;
    text-decoration: underline;
    font-size: 3vh;
    font-weight: bolder;
    text-align: center;
}
.bottom-footer{
    width: 100%;
    height: 25%;
    background-color: #590061;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.bottom-footer1{
    margin: 0.7vh;
    color: #E3C977;
    font-size: 200%;
}
.bottom-footer2{
    margin: 0.7vh;
    color: white;
    text-decoration: underline;
    font-size: 200%;
    font-weight: bolder;
    text-align: center;
}


.container-chat {
    border: 0.5vh solid #dedede;
    background-color: #590061;
    border-radius: 15px;
    padding: 1vh;
    margin: 0.2vw 0;
}
.darker {
    border-color: #ccc;
    background-color: #E3C977;
}
.container-chat::after {
    content: "";
    clear: both;
    display: table;
}
.container-chat img {
    border-radius: 50%;
    float: left;
    cursor: pointer;
    object-fit: contain;
    vertical-align: top;
    flex-shrink: 0;
    height: 10vh;
    width: 10vh;
}
.container-chat img.right {
    float: right;
    margin-left: 2.5vw;
    margin-right:0;
}
.time-right {
    float: right;
    color: #aaa;
    font-size: 2.2vh;
}
.time-left {
    float: left;
    color: #999;
    font-size: 2.2vh;
}
.container-chat p{
    font-size: 1vw;
    color: #ffffff;
    font-family: Lexend Mega, 'Source Sans Pro';
    white-space: nowrap;
    margin-top: 1.5vh;
    margin-left: 2vh;
}
.box-testo-sx{
    width: 90%;
    height: 90%;
    text-align: left;
    box-sizing: border-box;
    word-wrap: break-word;
    overflow-y: auto;
}
.box-testo-dx{
    width: 80%;
    height: 80%;
    float: right;
    text-align: right;
    box-sizing: border-box;
    overflow-y: auto;
}
.container-pp-rp{
    list-style-type: none;
    width: 100%;
    display: flex;
    height: 200%;
    margin-top: 0.5%;
}
.container-pp{
    width: 35%;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.container-pp h2{
    font-size: 2vw;
    font-weight: 700;
    color: #ffffff;
    font-family: Lexend Mega, 'Source Sans Pro';
    white-space: nowrap;
    align-content: center;
}
.wrap-pp{
    background-color: #590061;
    margin: 3%;
    border-radius: 30px;
    padding:1% 1%;
    overflow-y: auto;
    height: 93vh;
    margin-bottom: 2vh;
}
.container-single-pp{
    background-color: #E3C977;
    margin: 3%;
    border-radius: 30px;
    padding: 1% 1%;
    align-content: center;
    justify-content: center;
    text-align: left;
}
.single-pp{
    display: flex;
    margin-left: 0.5vh;
}
.single-pp-img{
    margin: 0.5vh;
}
.single-pp-img img{
    width: 10vh;
    height: 9vh;
}
.single-pp p{
    margin-top: 2vh;
    color: #000000;
    font-family: Josefin Sans, 'Source Sans Pro';
    font-size: 1.5vw;
    text-align: left;
}
.container-rp{
    width: 100%;
    height: 100%;
    justify-content: center;
    text-align: center;
}
.container-rp h2{
    font-size: 2vw;
    font-weight: bold;
    color: #ffffff;
    font-family: Lexend Mega, 'Source Sans Pro';
    white-space: nowrap;
    align-content: center;
}
.container-rp h4{
    font-size: 1.5vw;
    font-weight: bold;
    color: #000000;
    font-family: Lexend Mega, 'Source Sans Pro';
    white-space: nowrap;
    align-content: center;
}
.wrap-rp{
    background-color: #ffffff;
    margin: 1%;
    border-radius: 30px;
    overflow-y: auto;
    height: 93vh;
}
.container-single-rp{
    background-color: #590061;
    margin: 3%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
}
.container-single-rp scuro{
    background-color: #E3C977;
    margin: 3%;
    border-radius: 30px;
    padding: 2% 2%;
    display: flex;
    flex-direction: column;
}
.container-testo {
    border: 0.5vh solid #999999;
    background-color: #ffffff;
    border-radius: 15px;
    margin-left: 1vw;
    font-size: 2vw;
    width: 77vw;
    height: 10vh;
}
.button-invia{
    border: 0.5vh solid #D2BB72;
    width: 15vw;
    height: 10vh;
    background-color: #E3C977;
    font-size: 4vh;
    font-weight: bold;
    font-family: Lexend Mega, 'Source Sans Pro';
    margin-left: 1.5vw;
    border-radius: 30px;
}
.container-testo-button{
    width: 100%;
    height: 13vh;
    display:flex;
    align-items: flex-start;

}

